@media screen and (max-width:576px){
    .container{
        margin-top:7rem;
        padding:0 0.5rem;
    }
}
// #Really Small
@media screen and (max-width:350px){
    .container{
        padding:0 0.3rem;
    }
}